/*******************************************************************************
* FadeSlider
* -----------------------------------------------------------------------------
*   A highly customizable jQuery slider, designed to contain any type of 
*   content needed.
* -----------------------------------------------------------------------------
* @author Jason Lengstorf <jason.lengstorf@copterlabs.com>
*******************************************************************************/

.fs-wrapper {
    position: relative;
    padding: 0 0 1.25em;

    overflow: hidden;
}

.fs-left-arrow,.fs-right-arrow {
    position: absolute;

    /* BEGIN editable styles (these only apply if no arrow images are supplied) */
    font: 36pt/1em sans-serif;
    color: #666;
    text-decoration: none;
    /* END editable styles */
}

.fs-left-arrow {
    left: 10px;
}

.fs-right-arrow {
    right: 10px;
}

.fs-counter {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 1.667em;
    opacity: .85;
}


ul.field-fadeslider, ul.field-fadeslider li {
	list-style: none;
}